.card {
  display: flex;
  gap: 60px;
}
.card__detail {
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card__detail--button {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
